/* Proxima Nova - Paid */
@font-face {
  font-family: ProximaLight;
  src: url(../fonts/ProximaNova/ProximaNova-Light.otf);
}
@font-face {
  font-family: ProximaRegular;
  src: url(../fonts/ProximaNova/ProximaNova-Regular.otf);
}
@font-face {
  font-family: ProximaSemibold;
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.otf);
}
@font-face {
  font-family: ProximaBold;
  src: url(../fonts/ProximaNova/ProximaNova-Bold.otf);
}
@font-face {
  font-family: ProximaExtraBold;
  src: url(../fonts/ProximaNova/ProximaNova-Extrabold.otf);
}
* {
  box-sizing: border-box;
}

body {
  font-family: ProximaRegular;
  color: #333333;
}

h2 {
  font-size: 26px;
  font-family: ProximaSemibold;
  margin: 20px 0 24px;
}

h3 {
  font-family: ProximaSemibold;
  font-size: 14px;
  line-height: 140%;
  margin: 0 0 24px;
}

p {
  font-size: 14px;
}
p.strong {
  font-family: ProximaSemibold;
  font-size: 14px;
  line-height: 140%;
  margin: 0 0 24px;
}

strong {
  font-family: ProximaSemibold;
}

a, .secondary-btn {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 8px;
  color: #32a1d1;
}
a:hover, .secondary-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
a.large, .secondary-btn.large {
  font-size: 16px;
  margin-bottom: 16px;
}

form label.required:after {
  content: " *";
  color: red;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input, select {
  display: block;
  width: 100%;
  background: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px;
  position: relative;
  text-align: left;
  color: #999999;
  font-family: ProximaRegular;
  font-size: 14px;
}

input[type=checkbox] {
  margin-top: 8px;
  float: left;
  width: 14px;
  height: 14px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  background: #ffffff;
}

.clearfix:after, .retention-periods .standart-table tr td.table-data-input p:after, .radio-button-form p:after {
  content: "";
  display: table;
  clear: both;
}

.float-right {
  float: right;
}

.bg-white {
  background: #ffffff;
}

.bg-green {
  background-color: #0f9b5f;
}

.bg-red {
  background-color: #d11149;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none !important;
}

.ellipsis, .check-form .user .content-wrapp p {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.standart-form {
  margin-bottom: 32px;
  position: relative;
  z-index: 10;
}
.standart-form p {
  margin-bottom: 8px;
}
.standart-form p label {
  display: block;
  padding-top: 8px;
  margin-bottom: 4px;
  font-family: ProximaSemibold;
  font-size: 14px;
}
.standart-form p input, .standart-form p select {
  display: block;
  width: 100%;
  background: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px;
  position: relative;
  text-align: left;
  color: #999999;
  font-family: ProximaRegular;
  font-size: 14px;
}
.standart-form p input[type=checkbox] {
  margin-top: 8px;
  float: left;
  width: 14px;
  height: 14px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  background: #ffffff;
}
.standart-form .form-link {
  display: block;
  float: right;
  margin-bottom: 0;
}
.standart-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999999;
}
.standart-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}
.standart-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
}
.standart-form :-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}
.modal .standart-form {
  margin-bottom: 0;
}

.card-style-form input, .card-style-form select {
  display: block;
  width: 100%;
  background: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px;
  position: relative;
  text-align: left;
  color: #999999;
  font-family: ProximaRegular;
  font-size: 14px;
}
.card-style-form label {
  display: block;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .card-style-form label {
    flex-wrap: nowrap;
  }
}
.card-style-form label[for=campaign] {
  flex-wrap: nowrap;
}
.card-style-form label[for=campaign] .btn {
  float: left;
  position: absolute;
  width: 80px;
  margin-bottom: 0;
  top: 4px;
  right: 50px;
  left: calc(100% - 86px);
  padding: 8px 16px;
  height: 32px;
}
.card-style-form label[for=campaign] input {
  padding-right: 100px;
}
.card-style-form label[for=limited] .price {
  font-size: 14px;
  color: #6f6f6f;
  font-family: ProximaSemibold;
  margin-right: 8px;
  text-align: center;
}
.card-style-form .card {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  color: #6f6f6f;
  background-color: #ffffff;
  border-radius: 4px 4px 4px 4px;
  font-size: 11px;
  padding: 16px 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}
.card-style-form .card input#campaign {
  float: left;
}
.card-style-form .card.current {
  width: 102%;
  margin-left: -1%;
  color: #6f6f6f;
  background-color: #d9f7ea;
  border: 2px solid #0f9b5f;
}
.card-style-form .name {
  font-size: 14px;
  color: #6f6f6f;
  font-family: ProximaSemibold;
  float: left;
  margin-right: 8px;
  display: block;
}
@media (min-width: 768px) {
  .card-style-form .name {
    min-width: 90px;
  }
}
.card-style-form .descrip {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .card-style-form .descrip {
    margin-bottom: 0;
  }
}
.card-style-form .descrip, .card-style-form .price {
  text-align: center;
  width: 100%;
  margin-right: 8px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .card-style-form .descrip, .card-style-form .price {
    width: 30%;
  }
}
@media (min-width: 900px) {
  .card-style-form .descrip, .card-style-form .price {
    width: 40%;
  }
}
.card-style-form .descrip h3, .card-style-form .price h3 {
  margin-bottom: 6px;
}
.card-style-form .campaign {
  float: left;
}
.card-style-form .fa {
  font-size: 16px;
  color: #0f9b5f;
  float: left;
  margin-right: 8px;
}
.card-style-form input[type=radio] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  float: left;
}
.card-style-form p {
  margin-bottom: 16px;
  line-height: 120%;
}
.card-style-form p:first-of-type {
  padding-top: 8px;
}

.radio-button-form p {
  line-height: 14px;
}
.radio-button-form label {
  line-height: 14px;
}
.radio-button-form input[type=radio] {
  width: 14px;
  float: left;
  margin-right: 4px;
}

.table-wrapp {
  overflow-x: auto;
}

.standart-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 700px;
}
.standart-table tr {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.standart-table tr th {
  vertical-align: bottom;
  font-size: 12px;
}
.standart-table tr td {
  vertical-align: middle;
  font-size: 14px;
}
.standart-table tr td .secondary-btn {
  padding: 0;
}
.standart-table tr td .reminder {
  color: #999999;
}
.standart-table tr td .warning {
  color: #d11149;
}
.retention-periods .standart-table tr td.table-data-input p {
  margin: 0;
}
.retention-periods .standart-table tr td.table-data-input p label {
  font-family: ProximaRegular;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
}
.retention-periods .standart-table tr td.table-data-input p input {
  width: 80px;
  float: left;
  margin-right: 4px;
}
.standart-table tr th, .standart-table tr td {
  padding: 8px 2px;
  padding: 12px 2px;
  text-align: left;
  width: 15%;
  min-height: 14px;
  line-height: 140%;
}
.standart-table tr th.description, .standart-table tr td.description {
  width: 50%;
}
.standart-table tr th.action, .standart-table tr td.action {
  width: 5%;
}
.standart-table tr th.action a, .standart-table tr td.action a {
  color: #999999;
  margin-bottom: 0;
}
.retention-periods .standart-table tr th, .retention-periods .standart-table tr td {
  width: 45%;
}
.retention-periods .standart-table tr th.action, .retention-periods .standart-table tr td.action {
  width: 10%;
}
.retention-periods .standart-table tr th.action a, .retention-periods .standart-table tr td.action a {
  color: #ffffff;
}
.retention-periods .standart-table {
  margin-bottom: 16px;
}

.btn {
  height: 40px;
  text-align: center;
  padding: 10px 24px;
  color: #ffffff;
  font-family: ProximaRegular;
  font-size: 16px;
  border-radius: 23px;
  text-shadow: none;
  border: none;
  box-shadow: none;
}

.text-strong {
  font-family: ProximaSemibold;
  line-height: 140%;
}

.lang-toggle {
  float: right;
  padding: 16px 8px 0 0;
  font-size: 14px;
  position: relative;
  color: #32a1d1;
}
.lang-toggle .options-menu-dropdown {
  width: 160px;
}
@media (min-width: 900px) {
  .lang-toggle .options-menu-dropdown {
    left: 0;
  }
}
.lang-toggle li {
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.lang-toggle a {
  color: #363636;
  margin-bottom: 0;
}
.lang-toggle a:hover {
  color: #32a1d1;
}
.lang-toggle:hover {
  cursor: pointer;
}

.options-menu-dropdown {
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  display: none;
}
.modal.open {
  display: block;
}
.modal .inner {
  background: #ffffff;
  margin: 60px;
  position: relative;
  border-radius: 4px;
}
.modal .top-line {
  color: #555555;
  background: #f5f6f7;
  padding: 16px;
  padding-right: 32px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
}
.modal .top-line h3 {
  font-size: 16px;
}
.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  color: #6f6f6f;
}
.modal .close:hover {
  color: #32a1d1;
}
.modal .close .fa {
  font-size: 16px;
}
.modal .content {
  padding: 40px;
}

.fa, .fas {
  font-weight: 900;
}

.fa-check {
  color: #0f9b5f;
  font-size: 26px;
}

.fa-user {
  color: #f49f0a;
  font-size: 26px;
}

.fa-address-book {
  color: #f49f0a;
  font-size: 26px;
}

.fa-search {
  font-size: 16px;
}

.fa-info-circle {
  color: #999999;
}

.row h2 {
  display: inline-block;
}
.row a {
  display: inline-block;
  margin-right: 24px;
}

.msg-box {
  text-align: center;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
}
.msg-box.blue-box {
  background: #d9f2fc;
}

/* --------------------------------------------------------

    SIGN-IN, SIGN UP

-------------------------------------------------------- */
.sign-in, .sign-up,
.org-access, .org-set-up {
  position: relative;
}
.sign-in .col, .sign-up .col,
.org-access .col, .org-set-up .col {
  padding: 40px;
  position: relative;
  z-index: 1;
  max-width: 560px;
}
.sign-in .col .main-logo, .sign-up .col .main-logo,
.org-access .col .main-logo, .org-set-up .col .main-logo {
  width: 240px;
  margin-bottom: 40px;
}
@media (min-width: 900px) {
  .sign-in .col, .sign-up .col,
.org-access .col, .org-set-up .col {
    width: 50%;
  }
}
.sign-in .col.background, .sign-up .col.background,
.org-access .col.background, .org-set-up .col.background {
  height: 100vh;
  padding: 0;
  display: none;
  position: absolute;
  top: 0;
  width: 500px;
  object-fit: contain;
  right: 0;
  z-index: 0;
}
.sign-in .col.background img, .sign-up .col.background img,
.org-access .col.background img, .org-set-up .col.background img {
  max-width: 100%;
  max-height: 100%;
}
.sign-in .col.background .bg-bottom, .sign-up .col.background .bg-bottom,
.org-access .col.background .bg-bottom, .org-set-up .col.background .bg-bottom {
  float: right;
  width: calc(100% - 17px);
  height: 100vh;
  position: relative;
  z-index: 0;
}
@media (min-width: 900px) {
  .sign-in .col.background, .sign-up .col.background,
.org-access .col.background, .org-set-up .col.background {
    display: block;
  }
}

.sign-up.confirm-email p {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .sign-up.confirm-email a {
    position: absolute;
    left: 180px;
    bottom: 53px;
    margin-bottom: 0;
    z-index: 20;
  }
}
@media (min-width: 900px) {
  .sign-up.confirm-email.result .col {
    padding-right: 0;
  }
}
.sign-up.confirm-email.result .row a {
  display: inline-block;
}
.sign-up.confirm-email.result .row a .fa {
  font-weight: 900;
  margin-right: 8px;
}
.sign-up.confirm-email .standart-form {
  margin-bottom: 24px;
}
.sign-up.confirm-email .standart-form label {
  display: none;
}
@media (min-width: 768px) {
  .sign-up.confirm-email .standart-form {
    margin-bottom: 0;
  }
}
.sign-up.confirm-email .col.background .bg-bottom {
  width: calc(100% - 7px);
  background-color: #e8e1ce;
}
.sign-up.confirm-email .row a {
  position: static;
}

.sign-up.personal h2, .org-set-up h2 {
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .sign-up.personal .col, .org-set-up .col {
    width: 80%;
  }
}
@media (min-width: 900px) {
  .sign-up.personal .col, .org-set-up .col {
    width: 60%;
  }
}
.sign-up.personal .col.background .bg-bottom, .org-set-up .col.background .bg-bottom {
  width: calc(100% - 7px);
  background-color: #e8e1ce;
}
.sign-up.personal select#org_id_country, .org-set-up select#org_id_country {
  width: 150px;
  float: left;
  border-radius: 4px 0 0 4px;
  color: #333333;
}
.sign-up.personal #org_id, .org-set-up #org_id {
  width: calc(100% - 150px);
  float: right;
  border-radius: 0 4px 4px 0;
}
.sign-up.personal p label.terms, .org-set-up p label.terms {
  font-size: 14px;
  font-weight: 400;
  font-family: ProximaRegular;
  width: calc(100% - 36px);
  float: right;
}
.sign-up.personal p label.terms a, .org-set-up p label.terms a {
  display: inline-block;
}
@media (min-width: 900px) {
  .sign-up.personal p label.terms, .org-set-up p label.terms {
    width: calc(100% - 24px);
  }
}
.sign-up.personal p.password label, .org-set-up p.password label {
  float: left;
  margin-right: 4px;
}
.sign-up.personal p.password span, .org-set-up p.password span {
  float: left;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .org-access .col {
    width: 80%;
  }
}
@media (min-width: 900px) {
  .org-access .col {
    width: 60%;
  }
}
.org-access .col.background .bg-bottom {
  width: calc(100% - 21px);
  background-color: #e8e1ce;
}

.org-set-up #org_id {
  width: 100%;
  float: right;
  border-radius: 4px;
}
.org-set-up .col.background .bg-bottom {
  width: calc(100% - 21px);
}

.choose-plan h2 {
  margin-bottom: 16px;
}
.choose-plan p.strong {
  font-size: 16px;
  line-height: 120%;
}
.choose-plan .col {
  max-width: 560px;
}

.choose-invoice h2 {
  margin-bottom: 16px;
}
.choose-invoice .standart-form .invoice-type .row {
  padding-top: 8px;
  font-size: 14px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.choose-invoice .standart-form .invoice-type input[type=radio] {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 8px;
}
.choose-invoice .standart-form .checkbox-row {
  margin-top: 16px;
}
.choose-invoice .standart-form .checkbox-row label[for=use_data] {
  display: inline-block;
  font-family: ProximaRegular;
}
.choose-invoice .standart-form .checkbox-row input#use_data {
  float: left;
  margin-right: 8px;
}
.choose-invoice .standart-form .order-summary {
  background: #d9f2fc;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 30px;
}
.choose-invoice .standart-form .order-summary p {
  color: #6f6f6f;
}
.choose-invoice .standart-form .order-summary .left {
  float: left;
  padding-right: 16px;
}
.choose-invoice .standart-form .order-summary .left p {
  font-size: 12px;
  margin-bottom: 5px;
}
.choose-invoice .standart-form .order-summary .left strong {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 900px) {
  .choose-invoice .standart-form .order-summary .left {
    width: 40%;
    border-right: 1px solid #c5cfd4;
  }
}
.choose-invoice .standart-form .order-summary .right {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
@media (min-width: 900px) {
  .choose-invoice .standart-form .order-summary .right {
    padding-left: 16px;
    width: 60%;
  }
}
.choose-invoice .standart-form h3 {
  font-size: 16px;
  margin-bottom: 8px;
}
.choose-invoice .standart-form label.required {
  font-family: ProximaSemibold;
}
.choose-invoice .standart-form label.required:after {
  content: " *";
  color: red;
}

/* --------------------------------------------------------

    COMMON DASBOARD

-------------------------------------------------------- */
body.dashboard {
  background: #f5f6f7;
}

.dashboard {
  position: relative;
}
.dashboard .btn, .dashboard .secondary-btn {
  display: inline-block;
  margin-right: 8px;
}
.dashboard .btn {
  font-size: 14px;
  padding: 8px 16px;
  height: auto;
  width: auto;
  max-width: 400px;
}
.dashboard .secondary-btn {
  display: inline-block;
  margin-right: 8px;
  padding: 8px 16px;
  margin-bottom: 0;
}

.sidebar-mobile {
  position: fixed;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
}
@media (min-width: 768px) {
  .sidebar-mobile {
    display: none;
  }
}
.sidebar-mobile .sidebar-content {
  position: absolute;
  width: 256px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: white;
  overflow-y: auto;
  padding: 0 16px;
  padding-top: 16px;
}
.sidebar-mobile .sidebar-content section {
  margin-bottom: 24px;
}
.sidebar-mobile .sidebar-content section .title {
  font-size: 12px;
  font-family: ProximaRegular;
  margin-bottom: 8px;
}
.sidebar-mobile .sidebar-content a {
  color: #6f6f6f;
  margin-bottom: 8px;
  padding: 4px 0;
  position: relative;
  padding-left: 20px;
}
.sidebar-mobile .sidebar-content a .fa, .sidebar-mobile .sidebar-content a .fas {
  width: 14px;
  height: 14px;
  font-weight: 900;
  font-size: 14px;
  color: #6f6f6f;
  position: absolute;
  left: 0;
}
.sidebar-mobile .sidebar-content a .fa.active, .sidebar-mobile .sidebar-content a .fas.active {
  color: #0f9b5f;
}
.sidebar-mobile .close-sidebar {
  position: absolute;
  top: 16px;
  left: 272px;
  z-index: 9999;
  color: #ffffff;
}
.sidebar-mobile .backdrop {
  background: rgba(0, 0, 0, 0.212);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 256px;
  right: 0;
}

.top-line {
  height: 50px;
  background: #ffffff;
}
.top-line .open-sidebar {
  color: #999999;
}
@media (min-width: 768px) {
  .top-line .open-sidebar {
    display: none;
  }
}

.sidebar {
  display: none;
  font-size: 14px;
  color: #6f6f6f;
  width: 256px;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  padding: 0 16px;
  padding-top: 32px;
  float: left;
}
@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}
.sidebar section {
  margin-bottom: 24px;
}
.sidebar section .title {
  font-size: 12px;
  font-family: ProximaRegular;
  margin-bottom: 8px;
}
.sidebar a {
  color: #6f6f6f;
  margin-bottom: 8px;
  padding: 4px 0;
  position: relative;
  padding-left: 20px;
}
.sidebar a .fa, .sidebar a .fas {
  width: 14px;
  height: 14px;
  font-weight: 900;
  font-size: 14px;
  color: #6f6f6f;
  position: absolute;
  left: 0;
}
.sidebar a .fa.active, .sidebar a .fas.active {
  color: #0f9b5f;
}

.main-section {
  width: 100%;
  max-width: 800px;
  padding: 32px 0 0;
  padding-bottom: 100px;
  font-size: 14px;
  color: #6f6f6f;
}
@media (min-width: 768px) {
  .main-section {
    width: calc(100% - 256px);
    float: left;
    padding: 32px 16px 0;
    padding-left: 0;
  }
}
.main-section p {
  margin-bottom: 16px;
}
.main-section p .secondary-btn {
  padding: 0;
}
.main-section .notification {
  box-sizing: border-box;
  border: 1px solid rgba(52, 54, 58, 0.1);
  border-left: 4px solid #32a1d1;
  background: #ffffff;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
}
.main-section .notification .fa {
  color: #32a1d1;
}
.main-section .notification a {
  padding: 0;
}
.main-section .page-heading {
  padding-left: 16px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .main-section .page-heading {
    padding-left: 0;
  }
}
.main-section .page-heading h3 {
  font-family: ProximaSemibold;
  font-size: 18px;
  line-height: 18px;
  color: #555555;
  margin-bottom: 0;
}
.main-section .tab-area .tab {
  width: auto;
  height: 48px;
  padding: 16px;
  font-family: ProximaSemibold;
  float: left;
  position: relative;
  z-index: 9;
  bottom: -1px;
}
.main-section .tab-area .tab.active {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-radius: 4px 4px 0px 0px;
  background-color: #ffffff;
}
.main-section .area-heading h3 {
  font-size: 16px;
  line-height: 16px;
}
.main-section .text-small {
  font-size: 12px;
}
.main-section .content {
  background: #ffffff;
  border-top: 1px solid #e5e5e5;
  overflow: scroll;
  z-index: 1;
  position: relative;
}
@media (min-width: 768px) {
  .main-section .content {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }
}
.invoices .main-section .content {
  border-radius: 0 4px 4px 4px;
}
.main-section .task-area {
  line-height: 130%;
  padding: 24px 16px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .main-section .task-area {
    padding: 24px 32px;
  }
}
.main-section .task-area .task-area-wrapp {
  margin-bottom: 16px;
  line-height: 14px;
}
.main-section .task-area .task-area-wrapp.check-container {
  position: relative;
  padding-left: 20px;
}
.main-section .task-area .task-area-wrapp.check-container input[type=checkbox] {
  position: absolute;
  left: 0;
}
@media (min-width: 768px) {
  .main-section .task-area .task-area-wrapp.check-container input[type=checkbox] {
    top: -1px;
  }
}
.main-section .task-area input.checkbox {
  width: 14px;
  height: 14px;
  border: 1px solid #999999;
  margin-top: 0;
  margin-right: 4px;
}
.main-section .img-wrapp {
  width: 80px;
  height: 80px;
}
.main-section form {
  margin-bottom: 0;
}

.bottom-bar {
  font-size: 14px;
  color: #6f6f6f;
  padding: 24px 16px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .bottom-bar {
    left: 256px;
    padding: 24px 32px;
  }
}
@media (min-width: 1056px) {
  .bottom-bar {
    width: 784px;
    right: unset;
  }
}
.bottom-bar input[type=submit] {
  width: auto;
}

.task-area-wrapp.search {
  position: relative;
}
.task-area-wrapp.search input[type=search] {
  box-sizing: border-box;
  width: 50%;
  padding-right: 30px;
}
.task-area-wrapp.search .fa {
  position: absolute;
  left: calc(50% - 28px);
  top: 12px;
  color: #32a1d1;
}

.check-form {
  margin-top: 32px;
}
.check-form input[type=checkbox] {
  margin-top: 0;
  float: none;
  display: inline-block;
}
.check-form table {
  border-collapse: collapse;
  width: 100%;
}
.check-form tr {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  padding: 8px 2px;
}
.check-form tr th {
  vertical-align: bottom;
}
.check-form tr td {
  vertical-align: middle;
}
.check-form tr th, .check-form tr td {
  padding: 8px 2px;
  text-align: center;
  font-size: 12px;
  width: 14%;
  min-height: 14px;
}
.check-form .select-all, .check-form .select-user {
  min-height: 54px;
  min-width: 34px;
  width: 3%;
}
.check-form .user {
  padding: 8px;
  text-align: start;
}
.check-form .user .img-wrapp {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.check-form .user .content-wrapp {
  float: left;
  max-width: 200px;
}
.check-form .user .content-wrapp p {
  margin-bottom: 0;
  text-align: left;
  line-height: 120%;
}
.check-form .user .content-wrapp a {
  padding: 0;
}
.check-form .user .avatar-user {
  background: #999999;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.check-form .user .avatar-user .fa-user {
  font-size: 16px;
  color: #ffffff;
  font-weight: 900;
}
.check-form .users {
  color: #32a1d1;
  width: 39%;
  text-align: left;
  padding-left: 8px;
}
.check-form .users .secondary-btn {
  padding: 0;
  font-size: 12px;
}
.check-form .options {
  width: 2%;
  padding: 0;
}

table.account-list td.name, table.account-list th.name {
  width: 20%;
  max-width: 20%;
}
table.account-list td.id, table.account-list th.id {
  width: 40%;
  max-width: 40%;
}
table.account-list td.email, table.account-list th.email {
  width: 40%;
  max-width: 40%;
}

/* --------------------------------------------------------

    SIDEBAR

-------------------------------------------------------- */
/* --------------------------------------------------------

    ACCOUNT

-------------------------------------------------------- */

/*# sourceMappingURL=main.css.map */
