<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organisation confirmation</title>
    <!-- <link rel="stylesheet" href="../../fonts/font-awesome/css/font-awesome.min.css"> -->

    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link href="../../css/reset.css" rel="stylesheet"/>
    <link href="../../css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ddcbc7c82c.js" crossorigin="anonymous"></script>
</head>
<body class="dashboard">

    <div class="modal">
        <div class="inner">
            <a href="#" class="close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <div class="content">CONTENT</div>
        </div>
    </div>
    
    <div class="container">
        <div class="dashboard">

            <div class="sidebar-mobile hide">
                <div class="sidebar-content">
                    <section>
                        <a href="#"><i class="fas fa fa-mail-reply" aria-hidden="true"></i>Back to home</a>
                    </section>
                    <section>
                        <p class="title">ACCOUNT MANAGEMENT</p>
                        <a href="../account/subscriptions.html"><i class="fa fa-chart-bar" aria-hidden="true"></i>Active subscription</a>
                        <a href="../account/org_logo.html"><i class="fas fa fa-image" aria-hidden="true"></i>Organisation logo</a>
                        <a href="../account/org_details.html"><i class="fas fa fa-house" aria-hidden="true"></i>Organisation details</a>
                        <a href="../account/contacts.html"><i class="fas fa fa-phone" aria-hidden="true"></i>Contacts details</a>
                        <a href="../account/users.html"><i class="fas fa fa-user" aria-hidden="true"></i>User management</a>
                        <a href="../account/invoices.html"><i class="fas fa fa-file-invoice" aria-hidden="true"></i>Invoices</a>
                    </section>
                    <section>
                        <p class="title">CONTENT RETENTION</p>
                        <a href="../retention/space.html"><i class="fa fa-chart-bar" aria-hidden="true"></i>Space content</a>
                        <a href="../retention/chat.html"><i class="fa fa-chart-bar" aria-hidden="true"></i>Chat content</a>
                    </section>
                    <section>
                        <p class="title">PERSONAL SETTINGS</p>
                        <a href="../personal/personal_details.html"><i class="fas fa fa-info-square" aria-hidden="true"></i>Personal details</a>
                        <a href="../personal/picture.html"><i class="fas fa fa-id-badge" aria-hidden="true"></i>Change picture</a>
                        <a href="../personal/verify_identity.html"><i class="far fa fa-badge-check active" aria-hidden="true"></i>Verify identity</a>
                        <a href="../personal/account_list.html"><i class="far fa fa-building" aria-hidden="true"></i>Accounts list</a>
                        <a href="../personal/language.html"><i class="far fa fa-globe" aria-hidden="true"></i>Language</a>
                    </section>
                    <section>
                        <a href="#"><i class="far fa fa-user-headset" aria-hidden="true"></i>Support</a>
                        <a href="#"><i class="far fa fa-sign-out" aria-hidden="true"></i>Sign out</a>
                    </section>
                </div>
                <a href="#" class="close-sidebar"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div class="backdrop"></div>
            </div>

            <div class="top-line"><a href="#" class="secondary-btn open-sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
            
            <div class="sidebar" id="sidebar">
                <script src="../sidebar/sidebar.js"></script>
                <script>
                    $('#sidebar').html(sidebarHTML)
                </script>
            </div>
            
            <div class="main-section">

                <div class="page-heading"><h3>Change picture</h3></div>

                <div class="content">
                    
                    <div class="task-area">
                        <p>RRetention period is tracked for each file and chat activity separately from the point 
                            in time when it is first created.</p>
                        <p>After the indicated retention period each content is automatically removed from your account. 
                            Content may remain visible to other users invited in the chat depending on their retention 
                            settings. Content will be permanently deleted from SignSpace once no user has access to it.</p>    
                        <p>Maximum retention for chat content is 12 months.</p>

                        <div class="notification">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            New functionality is being developed which will allow more control over the retention periods.
                        </div>

                    </div>

                    <div class="task-area">
                        <div class="page-heading"><h3>Retention periods</h3></div>
                        <div class="table-wrapp">
                            <form action="POST" class="standart-form retention-periods">
                                <table class="standart-table">
                                    <thead>
                                        <th><strong>Content type</strong></th>
                                        <th><strong>Retention</strong></th>
                                        <th class="action"></th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Content of chats<div class="text-small reminder">maximum of 12 months</div></td>
                                            <td class="table-data-input">
                                                <p>
                                                    <span class="current-retention">12</span>
                                                    <label for="months">Months <i class="fas fa-info-circle" aria-hidden=""></i> </label>
                                                    <input type="number" name="months" value="12" class="hide">
                                                </p>
                                            </td>
                                            <td class="action"><a href="#" class="btn bg-green">Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <input type="submit" id="" class="btn bg-green hide" value="Save">
                            </form>
                        </div>
                    </div>

            </div>
            
            </div>

            <div class="bottom-bar">
                <input type="submit" class="btn bg-green" form="contact-details" value="submit">
                <a href="#" class="secondary-btn">Cancel</a>
                <a href="#" class="secondary-btn" id="open-modal">Open modal</a>
            </div>

        </div>
    </div>
</body>

<script src="../../static/js/main.js"></script>

</html>
